#wiki-outer-body {
    background-color: #fff;
    background-image: url(skins/bootstrap3-mediawiki/images/wiki-bg.jpg);
    background-repeat: repeat-x;
    background-position: center top;
}

.footer .copyright {
  color: #F5F5F5;
}
