#wiki-outer-body {
    background-color: #fff;
    background-image: url(skins/bootstrap3-mediawiki/images/wiki-bg.jpg);
    background-repeat: repeat-x;
    background-position: center top;
}

footer, .footer {
  color: #F5F5F5;
}

footer .panel, .footer .panel {
  color: #333;
}

blockquote {
  font-size: 100%;
  font-style: italic;
}
